/* ---COMMON------------------------------------------------------------ */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    background: #fafafa;
    color: #292929;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

/* --UTILS---------------------------------------------------- */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

._container {
    max-width: 1120px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

.header-block__title {
    font-weight: 700;
    font-size: 2.57rem;
    line-height: 1.27;
    color: #4D533C;
}

.header-block__text {
    font-size: 1.14rem;
    line-height: 1.625;
    color: rgba(33, 56, 66, 0.6);
}

.header-block__link a {
    font-family: 'FontAwesome';
    font-size: 1.14rem;
    line-height: 1.125;
    text-decoration-line: underline;
    color: #D4D6D4;
}

.header-block__link::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background-color: #FFD723;
    opacity: 1;
    z-index: -1;
    transition: all 0.5s;

}


.header-block__link a:hover {
    color: #FFD723;
}

.header-block__link a::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 6px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid;
}

/* ----BLOCKS-------------------------------------------------------- */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.main-block {
    position: relative;
}

.partners {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
    overflow: hidden;
}

.strategy {}

.feature-product {}

.evalution {}

.advice {}

.footer {}

/* -----HEADER------------------------------------------------ */

.header__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
}

.header__logo img {
    width: 100%;
}

.menu__button img {
    width: 100%;
}


@media(max-width: 600px) {
    .header__logo img {
        width: 65%;
    }

    .menu__button img {
        width: 80%;
    }

    .header__body {
        padding: 10px 0px 0px 0px;
    }
}

/* ---MAIN-BLOCK------------------------------------------------- */

.main-block__body {
    position: relative;
    z-index: 2;
    padding: 180px 0px 280px 0px;
}

.main-block__content {
    max-width: 616px;
}

.main-block__content>*:nth-child(-n+3) {
    margin: 0px 0px 22.5px 0px;
}

.main-block__sub-title {
    font-size: 1rem;
    line-height: 1.5;
    color: #FFFFFF;
}

.main-block__title {
    font-weight: 700;
    font-size: 4.28rem;
    line-height: 1.23;
    color: #FFFFFF;
}

.main-block__text {
    color: #FFFFFF;
}

.main-block__link {
    margin: 45px 0px 0px 0px;
}

.main-block__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media(max-width: 600px) {
    .main-block__body {
        padding: 100px 0px 200px 0px;
    }

    .main-block__sub-title {
        font-size: 0.85rem;
    }

    .main-block__title {
        font-size: 3rem;
    }

    .main-block__text {
        font-size: 1rem;
    }

    .main-block__content {
        max-width: 400px;
    }

    .main-block__content>*:nth-child(-n+3) {
        margin: 0px 0px 11.5px 0px;
    }

    .main-block__link {
        margin: 25px 0px 0px 0px;
    }
}

/* ---PARTNERS--------------------------------------------------- */

.partners__body {
    background: #FFFFFF;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;
    padding: 60px 160px 54px 68px;
    width: 100vw;
}

.partner {
    display: flex;
}

.partner__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.partner__content>* {
    margin: 0px 66px 0px 0px;
}

.partner__img {
    opacity: 0.63;
}


@media(max-width: 1300px) {
    .partners__body {
        padding: 20px 40px 24px 48px;
    }

    .partners__container {
        max-width: 100%;
        padding: 0px 0px;
        box-sizing: content-box;
    }
}

@media(max-width: 550px) {
    .partner__content>* {
        margin: 0px;
    }

    .partner__logo {
        flex: 0 1 100%;
        display: flex;
        justify-content: center;
    }

}

/* ----STRATEGY--------------------------------------------- */

.strategy__block {
    background-color: #F2F2F2;
    margin-top: -115px;
}

.strategy__body {
    display: flex;
    padding: 234px 0px 150px 0px;
    border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
}

.strategy__content {
    display: flex;
    flex-direction: column;
    margin: 0px 160px 0px 0px;
}

.strategy__sub-title {
    line-height: 1.5;
    color: rgba(77, 83, 60, 0.9);
    margin: 0px 0px 29px 0px;
}

.strategy__title {
    margin: 0px 0px 35px 0px;
}

.strategy__title_highlight-text {
    background-color: rgba(255, 209, 2, 0.1);
}

.strategy__text {
    margin: 0px 0px 22px 0px;
}

.article {
    display: flex;
    flex-direction: column;
    border: #FFFFFF;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    margin: -150px 0px 0px 0px;
}

.article__content {
    padding: 150px 40px 60px 40px;
}

.article__text {
    font-style: italic;
    font-size: 1.71rem;
    line-height: 1.66;
    color: #4D533C;
}

.article__body {
    display: flex;
    margin: 64px 0px 0px 0px;
}

.article__img {
    margin: 0px 30px 0px 0px;
}

.article__img img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}

.article__header:not(:last-child) {
    margin: 0px 0px 6px 0px;
}

.artilce__title {
    font-weight: 700;
    font-size: 1.57rem;
    line-height: 1.5;
    color: #4D533C;
}

.article__sub-title {
    font-size: 1.14rem;
    line-height: 1.5;
    color: #152934;
}

@media(max-width: 1300px) {
    .strategy__content {
        margin: 0px 100px 0px 0px;
    }

    .article__content {
        padding: 150px 40px 60px 40px;
    }
}

@media(max-width: 962px) {
    .strategy__body {
        display: flex;
        padding: 174px 0px 150px 0px;
    }

    .strategy__sub-title {
        font-size: 0.8rem;
        margin: 0px 0px 20px 0px;
    }

    .strategy__title {
        font-size: 2rem;
        margin: 0px 0px 15px 0px;
    }

    .strategy__text {
        font-size: 1rem;
        margin: 0px 0px 22px 0px;
    }

    .strategy__link a,
    .article__sub-title {
        font-size: 1rem;
    }

    .artilce__title,
    .article__text {
        font-size: 1.25rem;
    }

    .article__body {
        display: flex;
        margin: 34px 0px 0px 0px;
    }

}

@media(max-width: 700px) {
    .strategy__body {
        display: flex;
        flex-direction: column;
        padding: 174px 0px 50px 0px;

    }

    .article {
        margin: 20px 0px 0px 0px;
        box-shadow: 0px 100px 100px 100px rgba(0, 0, 0, 0.145947);

    }

    .article__content {
        padding: 50px 40px 60px 40px;
    }
}

/* ---FEATURE-PRODUCT-------------------------------------------- */

.feature-product__main-block {
    background: #F2F2F2;
}

.feature-product__block {
    overflow: hidden;
    padding: 0px 0px 180px 0px;
}

.feature-product__header-body {
    margin: 0px 0px 104px 0px;
    padding: 150px 0px 0px 0px;
}

.feature-product__header {
    display: flex;
}

.feature-product__header>*:not(:last-child) {
    margin: 0px 133px 0px 0px;
}

.feature-product__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.feature-product__title {
    margin: 0px 0px 24px 0px;
}

.feature-product__text {
    margin: 0px 0px 90px 0px;
}

.feature-product__text p:not(:last-child) {
    margin: 0px 0px 15px 0px;
}

.post-block__container-right {
    position: absolute;
    bottom: -42px;
    right: -25px;
    z-index: 10;
}

.post-block__container-left {
    position: absolute;
    bottom: -30px;
    left: -30px;
    z-index: 10;
}

.post-block__content {
    max-width: 453px;
    background: #FFFFFF;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
}

.post-block__body {
    padding: 33px;
}

.post-block__text {
    font-size: 1.14rem;
    line-height: 1.625;
    color: #4D533C;
    margin: 0px 0px 24px 0px;
}

.post-block__autr {
    display: flex;
}

.post-block__img img {
    width: 46px;
    height: 46px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
    margin: 0px 14px 0px 0px;
}

.about-autr:not(:last-child) {
    margin: 0px 0px 4px 0px;
}

.about-autr__name {
    font-weight: 700;
    font-size: 1.14rem;
    line-height: 1.5;
    color: #4D533C;
}

.about-autr__profession {
    font-size: 1rem;
    line-height: 1.5;
    color: #152934;
}

.feature-product__img_product1 {
    background-image: url(../img/feature-product/01.png);
}

.feature-product__img_product2 {
    background-image: url(../img/feature-product/02.png);
}

.feature-product__img_product3 {
    background-image: url(../img/feature-product/03.png);
}

.feature-product__img {
    position: relative;
    flex: 0 0 50%;
    padding: 0px 0px 38.5% 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}


@media(min-width: 767px) {
    .feature-product__block {
        display: flex;
    }
}

@media(max-width: 1200px) {
    .feature-product__content {
        display: block;
        margin: 50px 0px 0px 50px;
    }

    .feature-product__title {
        font-size: 2rem;
        margin: 0px 0px 14px 0px;
    }

    .feature-product__text {
        font-size: 1rem;
        margin: 0px 0px 20px 0px;
    }

    .feature-product__text p:not(:last-child) {
        margin: 0px 0px 5px 0px;
    }

    .post-block__body {
        max-width: 400px;
        padding: 25px;
    }

    .post-block__text {
        font-size: 1rem;
        margin: 0px 0px 14px 0px;
    }

    .post-block__img img {
        margin: 0px 8px 0px 0px;
    }

    .about-autr__name {
        font-size: 1rem;
    }

    .about-autr__profession {
        font-size: 0.8rem;
    }
}

@media(max-width: 992px) {
    .feature-product__header {
        display: block;
    }

    .feature-product__header>*:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }

    .feature-product__header-body {
        margin: 0px 0px 40px 0px;
        padding: 50px 0px 0px 0px;
    }
}

@media(max-width: 910px) {
    .feature-product__block-block-right {
        display: flex;
        flex-direction: column-reverse;
    }

    .feature-product__block-block-left {
        display: flex;
        flex-direction: column;
    }

    .feature-product__img {
        margin: 20px 0px 0px 0px;
        align-self: center;
        width: 80%;
    }

    .feature-product__content {
        margin: 0px auto;
    }

    .feature-product__title {
        font-size: 1.5rem;
        margin: 0px 0px 10px 0px;
    }

    .feature-product__text {
        font-size: 0.8rem;
        margin: 0px 0px 15px 0px;
    }

    .feature-product__text p:not(:last-child) {
        margin: 0px 0px 5px 0px;
    }

    .feature-product__link a {
        font-size: 0.9rem;
    }

    .post-block__content {
        max-width: 300px;
    }

    .post-block__body {
        max-width: 300px;
        padding: 25px;
    }

    .post-block__text {
        font-size: 0.8rem;
        margin: 0px 0px 10px 0px;
    }

    .about-autr__name {
        font-size: 0.9rem;
    }

}

@media(max-width: 640px) {

    .feature-product__title {
        font-size: 1.2rem;
        margin: 0px 0px 10px 0px;
    }

    .feature-product__text {
        font-size: 0.7rem;
        margin: 0px 0px 15px 0px;
    }

    .feature-product__link a {
        font-size: 0.7rem;
    }

    .feature-product__link a::before {
        margin-right: 6px;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid;
    }

    .feature-product__block {
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        padding: 20px 0px 220px 0px;
    }

    .post-block__content {
        max-width: 100%;
    }

    .post-block__content {
        box-shadow: none;
    }

    .post-block__body {
        max-width: 100%;
    }

    .feature-product__img {
        margin: 20px 0px 0px 0px;
        align-self: center;
        width: 80%;
    }

    .post-block__container-left,
    .post-block__container-right {
        position: absolute;
        top: 100%;
        left: 0px;
        max-width: 100%;
    }
}

@media(max-width: 500px) {
    .header-block__title {
        font-size: 1.9rem;
    }

    .header-block__text {
        font-size: 0.75rem;
    }

    .feature-product__header>*:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }

    .feature-product__header-body {
        margin: 0px 0px 40px 0px;
        padding: 30px 0px 0px 0px;
    }

    .feature-product__header>*:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
}

/* ----EVALUTION------------------------------------------------------------------- */


.evalution__block {
    background-color: #F2F2F2;
}

.evalution__body {
    border-top: 1px solid rgba(33, 56, 66, 0.0955529);
    padding: 149px 0px 100px 0px;
}

.evalution__content {
    display: flex;
    flex-direction: column;
}

.evalution__content>*:not(:last-child) {
    margin: 0px 0px 60px 0px;
}

.evalution__columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -45px 0px 0px;
}

.column {
    display: flex;
    flex: 0 1 25%;
    padding: 0px 45px 0px 0px;
}

.column__item {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
}

.column__title {
    font-size: 1.71rem;
    line-height: 1.41;
    text-transform: uppercase;
    color: #4D533C;
    margin: 0px 0px 20px 0px;
}

.column__text {
    max-width: 300px;
    margin: 0px 0px 30px 0px;
    flex: 1 1 auto;
}

@media(max-width: 1200px) {
    .evalution_header {
        align-self: center;
    }

    .evalution__body {
        padding: 50px 0px 70px 0px;
    }

    .column {
        flex: 0 1 50%;
        justify-content: center;
        padding: 30px 0px 0px 0px;
    }

    .evalution__columns {
        margin: 0px;
    }

    .evalution__columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .evalution__content>*:not(:last-child) {
        margin: 0px 0px 20px 0px;
    }

}

@media (max-width: 730px) {
    .evalution__content>*:not(:last-child) {
        margin: 0px 0px 5px 0px;
    }

    .evalution__body {
        padding: 59px 0px 40px 0px;
    }

    .evalution_header {
        font-size: 1.7rem;
    }

    .column {
        flex: 0 1 100%;
        justify-content: center;
    }

    .column__title {
        font-size: 0.9rem;
        margin: 0px 0px 10px 0px;
    }

    .column__text {
        font-size: 1rem;
        margin: 0px 0px 20px 0px;
    }

    .column__link a {
        font-size: 1rem;
    }
}

/* -----ADVICE-------------------------------------------------- */

.advice {
    position: relative;
    z-index: 20;
}

.advice__body {
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
    background: #FAFAFA;
    padding: 70px 0px 71px 0px;
    margin-left: calc((1120px - 100vw) / 2);
}

.advice__content>*:not(:last-child) {
    margin: 0px 0px 49px 0px;
}

.advice__content {
    padding-left: calc((100vw - 1120px) / 2);
}

.advice__title {
    font-weight: 700;
    font-size: 4.28rem;
    line-height: 1.23;
    color: #4D533C;
}

@media(max-width: 1150px) {

    .advice__body {
        display: flex;
        justify-content: center;
        padding: 30px 0px 31px 0px;
        margin-left: -15px;
    }

    .advice__container {
        padding: 0px;
    }

    .advice__content>*:not(:last-child) {
        margin: 0px 0px 29px 0px;
    }

    .advice__link a {
        font-size: 0.8rem;
    }

    .advice__title {
        font-size: 3rem;
    }

}

@media (max-width: 730px) {
    .advice__content>*:not(:last-child) {
        margin: 0px 0px 19px 0px;
    }

    .advice__link a {
        font-size: 0.8rem;
    }

    .advice__title {
        font-size: 2rem;
    }

    .advice__body {
        padding: 30px 15px;
        margin: 0px;
    }
}

/* -- FOOTER------------------------------------------------------- */

.footer__block {
    background-image: url(../img/footer/01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.footer__body {
    padding: 380px 0px 0px 0px;
    margin-top: -180px;
}

.footer__contact {
    border-bottom: 1px solid #B6C197;
    padding: 0px 0px 52px 0px;
}

.contact__body {
    display: flex;
    flex-wrap: wrap;
}


.contact__data>*:not(:last-child) {
    margin: 0px 0px 5px 0px;
}

.contact__body>* {
    flex: 0 1 24%;
}

.contact__sub-title {
    font-weight: 400;
    font-size: 1.42rem;
    line-height: 2.5;
    color: #B6C197;
}

.contact__text {
    font-weight: 700;
    font-size: 1.42rem;
    line-height: 2.5;
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    .contact__body>* {
        flex: 0 1 50%;
    }

    .contact__sub-title {
        font-size: 1.32rem;
    }

    .contact__text {
        font-size: 1.2rem;
    }

}

@media (max-width: 680px) {
    .contact__body>* {
        flex: 0 1 100%;
    }

    .contact__sub-title {
        font-size: 1.3rem;
    }

    .contact__text {
        font-size: 1.4rem;
    }

}

.menu__block {
    padding: 60px 0px;
}

.menu__nav {
    display: flex;
}

.menu__company-body {
    position: relative;
}

.menu__company-body>.menu__links::after {
    content: '';
    position: absolute;
    height: 90%;
    width: 1px;
    background: #000;
    top: 18px;
    right: 85px;
    background: #B6C197;
}

.menu__nav>* {
    flex: 0 1 25%;
}

.mune__title,
.social__title {
    font-weight: 600;
    font-size: 1.42rem;
    line-height: 2.375;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 0px 21px 0px;
}


.menu__items>*:not(:last-child) {
    margin: 0px 0px 3px 0px;
}

.menu__link {
    font-weight: 400;
    font-size: 1.42rem;
    line-height: 2.5;
    color: #B6C197;
}

.menu__link:hover {
    transition: all 0.3s linear;
    color: #e2e9cc;
}

.social__text {
    font-weight: 400;
    font-size: 1.42rem;
    line-height: 1.625;
    color: #B6C197;
}

.social__email {
    font-weight: 700;
    font-size: 1.71rem;
    line-height: 1.58;
    color: #FFFFFF;
}

.social__content>*:not(:last-child) {
    margin: 0px 0px 23px 0px;
}

.social-items {
    display: flex;
}

.social-items>*:not(:last-child) {
    margin: 0px 11px 0px 0px;
}

.social-value {
    opacity: 0.3;
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 39.3px 0px;
    border-top: 1px solid #B6C197;
}

.footer__logo-imgs img {
    width: 100%;
}

.footer__copyrght {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #B5C096;
}

@media (max-width: 1200px) {
    .footer__body {
        padding: 220px 0px 0px 0px;
        margin-top: -180px;
    }

    .menu__company-body>.menu__links::after {
        display: none;
    }

    .menu__nav {
        flex-wrap: wrap;
    }

    .menu__service,
    .menu__helpers {
        flex: 0 1 40%;
    }

    .menu__company {
        flex: 0 1 20%;
        display: flex;
        justify-content: flex-end;
    }

    .menu__social {
        margin: 40px 0px 0px 0px;
    }

    .menu__block {
        display: flex;
        justify-content: center;
    }

    .mune__title,
    .social__title {
        margin: 0px 0px 15px 0px;
    }

    .footer__contact {
        padding: 0px 0px 32px 0px;
    }
}

@media (max-width: 992px) {
    .footer__body {
        padding: 180px 0px 0px 0px;
        margin-top: -150px;
    }

    .menu__block {
        padding: 20px 0px;

    }

    .menu__nav>* {
        flex: 0 1 50%;
        margin: 20px 0px;
    }

    .menu__company {
        display: block;
    }

    .mune__title,
    .social__title {
        font-size: 1.22rem;
        margin: 0px 0px 5px 0px;
    }

    .menu__link {
        font-size: 1.22rem;
    }

    .social__text {
        font-size: 1.22rem;
    }

    .social__email {
        font-size: 1.41rem;
    }

    .social__content>*:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }

    .social-value img {
        width: 35px;
        height: 35px;
    }

    .footer__logo {
        padding: 25px 0px;
    }
}

@media (max-width: 680px) {
    .menu__nav>* {
        margin: 10px 0px;
    }

    .mune__title,
    .social__title,
    .social__text {
        font-size: 1.5rem;
    }

    .menu__link {
        font-size: 1.3rem;

    }

    .social__email {
        font-size: 1.3rem;
    }

    .social__content>*:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }

    .menu__service-body,
    .menu__helpers-body,
    .menu__company-body,
    .social-body,
    .social__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu__nav>* {
        flex: 0 1 100%;
    }

    .footer__logo {
        flex-direction: column;
        padding: 15px 0px;
    }

    .footer__logo>*:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }
}

/* ----ANIMATION------------------------------------------------------ */

.icon {
    display: inline-block;
    font-size: 44px;
    animation: float 6s ease-in-out infinite;
}

.social-twitter {
    animation-delay: 1s;
}

.social-google {
    animation-delay: 2s;
}

.social-linkedin {
    animation-delay: 3s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}
